@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap');

.about {
    background: rgba(255, 255, 255, 0.16);
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(8px);
-webkit-backdrop-filter: blur(8px);
    height: 100vh;
    position: relative;
}

.content_info {
    position: absolute;
    height: 550px;
    width: 68%;
    background-color: rgb(119, 143, 161);
    bottom: 0;
    left: 20%;
    transition: all 2s;
}
.information{
    width: 400px;
    height: 100px;
}
.information h1 {
    padding-top:20px ;
    padding-left: 20px;
    font-family: Raleway;
    color: var(--white);
}
.imageone img {
    position: absolute;
    height: 750px;
    right:50px;
    bottom: 0;

}

.content_info:hover {
    transform: rotate(1deg);
    position: absolute;
    bottom: -7px;
}

.facebook img,
.github img,
.insta img,
.linkedin img {
    position: absolute;
    height: 50px;
    transition: all 0.3s;
}

.facebook img {
    top: 5%;
    right: 17%;
}

.github img {
    top: 19%;
    right: 9%;
}

.insta img {
    top: 35%;
    right: 5%;
}

.linkedin img {
    top: 50%;
    right: 1%;
}

.links {
    height: 400px;
    width: 300px;
}

.facebook img:hover,
.github img:hover {
    height: 60px;
    background-color: var(--white);
    border-radius: 50%;
}

.insta img:hover,
.linkedin img:hover {
    height: 60px;
    background-color: var(--white);
    border-radius: 10px;
}
.facebook img:active,
.github img:active,.insta img:active,
.linkedin img:active {
     transform: scale(0.9);
} 

.findme {
    width: 100px;
    height: 100px;
    background-color: var(--Darkgrey);
    border-radius: 50%;
    position: absolute;
    bottom: 70px;
    left: 100px;
    transition: all 0.3s ;
}

.findme span {
    font-size: 20px;
    display: flex;
    padding-top: 35%;
    justify-content: center;
    font-family: "Raleway";
    color: var(--white);
    transition: all 0.5s;
}

.findme:hover {
    box-shadow: 1px 3px 3px var(--white);
}
.findme:active{
    
    transform: scale(0.9);
}

.findme span:hover {
    color: black;
}
@media (max-width : 800px){
}
   