.dashboard-section{
    min-height: 100vh;
    background-color: rgb(239,239,239);
    padding-top: 50px;
    box-sizing: border-box;
}
.dashboard-section h1{
    text-align: left;
}
.dashboard-section hr{
    margin-bottom: 30px;
}
.container-column{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    row-gap: 20px;

}
.container-row{
    display: flex;
    flex-direction: row;
    column-gap: 50px;
    justify-content: space-between;
    align-items: baseline;

}
.dashboard-section h2, h3{
    margin: 0;
}
.dashboard-btns{
    color:white;
    font-size: medium;
    padding:4px 4px;
    border-radius: 50%;
    background-color: var(--primary);
    border:0px;
    align-self: flex-start;
}
.edit:hover{
    background-color: rgb(33, 93, 33);
}
.cancel:hover{
    background-color: rgb(164, 13, 13);
}
form{
    margin-bottom: 10px;
}
input[type="text"], input[type="password"]{
    padding: 6px 6px;
    border-radius: 10px;
    font-size: medium;
    border: 1px solid var(--primary);
}
input[type="text"]:hover, input[type="text"]:active,input[type="password"]:hover, input[type="password"]:active{
    border: 2px solid var(--secondary);
}
input{
    margin-bottom: 15px;
}
.dashboard-card{
    padding:16px 60px;
    border-radius: 12px;
    border: 1px solid rgba(154, 154, 154, 0.8);
    box-shadow: 1px 1px 5px 0px grey;
}
.dashboard-card form{
    margin-top:10px;
}
@media screen and (max-width:800px){
    .container-row{
        flex-direction: column;
    }
    
}
.buttonDownload {
    display: inline-block;
    position: relative;
    padding: 10px 25px;
    background-color: #4CC713;
    color: white;
    font-family: sans-serif;
    text-decoration: none;
    font-size: 0.9em;
    text-align: center;
    text-indent: 15px;
    border: none;
    border-radius: 2em;
    font-weight: bold;
  }
  
  .buttonDownload:hover {
    background-color: #1a60a2;
    color: white;
  }
  
  .buttonDownload:before, .buttonDownload:after {
    content: ' ';
    display: block;
    position: absolute;
    left: 15px;
    top: 52%;
  }
  
  .buttonDownload:before {
    width: 10px;
    height: 2px;
    border-style: solid;
    border-width: 0 2px 2px;
  }
  
  .buttonDownload:after {
    width: 0;
    height: 0;
    margin-left: 3px;
    margin-top: -7px;
    border-style: solid;
    border-width: 4px 4px 0 4px;
    border-color: transparent;
    border-top-color: inherit;
    animation: downloadArrow 1s linear infinite;
    animation-play-state: paused;
  }
  
  .buttonDownload:hover:before {
    border-color: #bdd3ef;
  }
  
  .buttonDownload:hover:after {
    border-top-color: #eff1f7;
    animation-play-state: running;
  }
  
  @keyframes downloadArrow {
    0% {
      margin-top: -7px;
      opacity: 1;
    }
  
    0.001% {
      margin-top: -15px;
      opacity: 0.4;
    }
  
    50% {
      opacity: 1;
    }
  
    100% {
      margin-top: 0;
      opacity: 0.4;
    }
  }
  