.dashboard {
    display: flex;
    flex-direction: row;
    column-gap: 100px;
    background-color: rgb(239,239,239);
}
#dashboard-nav{
    position: sticky;
}

@media screen and (max-width:800px){
    #dashboard-nav{
        position: fixed;
    }
    .dashboard-about{
        justify-content: center;
    }
    .dashboard-section_about{
        display: flex;
        flex-direction: column;
        margin-top: 60px;
        justify-content: flex-start;
        width: 80vw;
    }
    
}