body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --primary: #2A2C39;
  --secondary: #858792;
  --accent: #ffffff;
  --Darkgrey: #2A2C39;
  --Lightgray: #858792;
  --marked: #f8bb86;
  --Darkgrey: #2A2C39;
  --primaryContact: #0D0D0D;
  --secondaryContact: #8C7F68;
  --accentContact: #395659;
  --white: #FFFFFF;
}