 
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap');
/*
:root {
    --Darkgrey: #2A2C39;
    --Lightgray: #858792;
    --white: #FFFFFF
}

.all {
    height: 710px;
    background-color: var(--Darkgrey);

    position: relative;
}

.box_content{
    position: absolute;
    height: 400px;
    width:70% ;
    right: 7%;
    top: 20%;
    display: flex;
    align-items: center;
    animation-name:example;
    animation-duration: 2s;
}
@keyframes example {
    0% {top:0px; bottom:200px}
}

.box{
    width: 10%;
    height: 400px;
    margin-right:20px;
    transition: all 1.5s;

}
.box:first-child{
    width: 40%;
}

.project_image {
    width: 100%;
    height: 100%;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    box-shadow: 3px 3px 3px black;
}
.box:hover:nth-child(2){
    width: 100%;
}
.box:hover:nth-child(3){
    width: 100%;
}
.box:hover:nth-child(4){
    width: 100%;
}
.box:hover:nth-child(5){
    width: 100%;
}
.box:hover:nth-child(6){
    width: 100%;
}
.box p {
    font-size: 15px;
    background-color: var(--Lightgray);
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    
    box-shadow: 3px 3px 3px black;
}
.box p:hover{
    height: 120px;
}

.des{
    position: absolute;
    left: 20%;
    top: 5%;
    animation-name: project;
    animation-duration: 3s;
}
.des h2{
    font-size: 40px;
    font-family: "Raleway";
    color: var(--white);


}
@keyframes project {
    0%{right:100px; left: 1000px;}
    
}

 .active{
    width: 400px;
    margin-left: 10px ;
}

@media only screen and (max-width: 768px) {
    .all {
        height: 914px;
        position:relative;
    }
    .box_content{
        display: grid;
        grid-template-columns: 1fr 1fr;
        height: 700px;
    }
    .box{
        height: 200px;
        width: 130px;
    }
    .project_image{
        border-top-left-radius: 10px;
        border-top-right-radius:  10px ;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    .box:first-child{
    width: 130px;
    height: 200px;
    }
    p {
        display: none;
    }
    
  }  */
/*******************************************************************************************/
.slider {
    height: 100vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image-anddescription{
    width: 800px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;

}
.image-anddescription img {
    width: 100%;
    height: 100%;
   
}
button{ 
    background-color: transparent;
    width: 100px;
}

.image-anddescription p {
    width: 90%;
    height: 20;
    position:absolute;
    bottom: 20px;
    left:30px;
    
   
}
.imganddes{
    display: flex;
    flex-direction: column;
    width: 300px;
   height: 350px;
   position: relative;
 
}
.imganddes p {
    color:var(--white);
    font-family: Raleway;
    font-size: 25px;
}
.projectimage{
  border-radius: 20px;
  box-shadow: 1px 1px 4px 1px var(--white);
}



button  {
    width: 50px;
    height: 50px;
    transition: 0.3s all ;
}

.projectimage{
    transition: all 1s;
}
.projectimage:hover{
    width: 310px;
    height: 360px;
    box-shadow: 2px 2px 5px 2px var(--white);
}

button:active{
    transform: scale(0.9);
}
/* .slide-enter {
    transform: translateX(-100%);
  }
  
  .slide-enter-active {
    transform: translateX(0);
    transition: transform 300ms;
  }
  
  .slide-exit {
    transform: translateX(0);
  }
  
  .slide-exit-active {
    transform: translateX(100%);
    transition: transform 300ms;
  } */
  @media (max-width : 800px){
    .image-anddescription{
        display: flex;
        flex-direction: column;
        height: 100vh;
   
        padding-left: 50px;
    }
    .imganddes{
        width: 250px;
        height: 250px;
    }
    .projectimage{
        width: 250px;
        height: 250px;
    }
    .projectimage:hover{
        width: 260px;
        height: 260px;
        box-shadow: 2px 2px 5px 2px var(--white);
    }

}
   